@charset "UTF-8";

:root {
    --color1: #222ba2;
    --color2: #084fdd;
    --color3: #030142;
    --color4: #999;
    --color5: #f4f4f4;
    --color6: #fff;
}

@font-face {
    font-family: 'Garet';
    src: url('fonts/Garet-Book.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

mark {
    font-family: 'Garet';
    background-color: transparent;
    color: var(--color2);
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-family: 'Garet';
    font-size: 3em;
    margin: 30px;
}

h2 {
    font-family: 'Garet';
    font-size: 2.7em;
    margin: 30px;
}

h3 {
    font-family: 'Garet';
    font-size: 2.2em;
    margin: 30px;
}

p {
    line-height: 24px;
    margin: 30px;
}

li {
    margin: 30px
}

body {
    overflow-x: hidden;
    background-image: linear-gradient(to right, var(--color1), var(--color3), var(--color3));
}

header {
    z-index: 4;
    position: sticky;
    top: 10px;
    left: 5%;
    width: 90%;
    height: 90px;
    background-color: #fff;
    color: var(--color4);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 10px 10px #00000030;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 7px;
}

ul li {
    list-style: none;
    margin: 0;
    margin: 0 10px;
}

li a {
    color: #333;
}

.menuIco {
    appearance: none;
}

label[for="menuIco"] {
    display: none;
    z-index: 3;
    position: relative;
}

label span {
    display: block;
    height: 2px;
    width: 30px;
    background-color: #000;
    margin: 7px;
    transition-duration: .3s;
}

.menuIco:checked ~ label span#firSpan {
    background-color: #fff;
    transform: rotate(45deg) translate(2px, 4px);
}

.menuIco:checked ~ label span#secSpan {
    display: none;
    transition-duration: .4s;
}

.menuIco:checked ~ label span#thirSpan {
    background-color: #fff;
    transform: rotate(-45deg) translate(2px, -4.5px);
}

.menuIco:checked ~ .mobile-nav {
    left: -5%;
}


.mobile-nav {
    position: fixed;
    top: 0;
    left: 120%;
    padding: 30px;
    border-left: 2px solid #fff;
    height: 105vh;
    width: 120%;
    font-size: 1.4em;
    background-color: var(--color3);
    transition-duration: .2s;
}

.mobile-nav ul {
    display: block;
}

.mobile-nav .menuLI {
    margin-top: 100px;
}

.mobile-nav li {
    margin: 20px;
    transition-duration: .4s;
}

.mobile-nav a {
    color: #fff;
}

.mobile-nav li:hover {
    transform: scale(1);
    text-decoration: underline;
}

#hero {
    padding: 90px 0 120px 0;
    background-image: linear-gradient(to right, var(--color1), var(--color3), var(--color3));
}

.blockHero {
    position: absolute;
    top: -15%;
    left: 80%;
    background-color: #fff;
    height: 110%;
    width: 85%;
    transform: rotate(-65deg);
}

.heroText {
    color: #fff;
}

.heroText h1 {
    margin: 0 12em 60px 80px;
}

.heroText ul {
    display: block;
}

.heroText li {
    margin: 0 0 5px 90px;
    list-style-type: '\2713';
}

.heroItens img {
    z-index: 3;
    position: absolute;
    top: 5%;
    left: 37%;
    display: block;
    filter: drop-shadow(0 5px 10px #00000080);
}

.heroItens nav a {
    z-index: 3;
    position: absolute;
    top: 53%;
    left: 70%;
    display: block;
    margin: 10px;
    text-align: center;
    color: var(--color6);
    background-color: var(--color2);
    box-shadow: 0 0 20px var(--color2);
    padding: 17px 20px;
    width: 400px;
    border-radius: 100px;
}

.block {
    position: absolute;
    border-left: 150vh solid transparent;
    border-bottom: 100px solid #fff;
    background-color: transparent;
    height: 20px;
    width: 80%;
    transform: translateY(-100px);
}

#sobre {
    display: flex;
    align-items: center;
    flex-flow: row-reverse nowrap;
    text-align: right;
    padding: 60px 0 120px 0;
    background-color: var(--color6);
}

.sobreText {
    z-index: 2;
    position: relative;
}

.sobreItens img {
    z-index: 3;
    position: relative;
    margin: 0 80px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #00000080;
}

.miniBlock {
    position: absolute;
    top: 50%;
    left: 60%;
    border-radius: 40px;
    background-color: #fff;
    height: 900px;
    width: 500px;
}

#sobre h2 {
    margin: 30px 70px;
}

#sobre p {
    margin: 20px 80px;
}

#visao {
    display: flex;
    margin-top: -40px;
    padding: 120px 0;
    background-color: var(--color5);
}

#visao .visaoText {
    margin: 0 80px 0 50px;
}

.visaoImg img {
    margin: 0 80px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #00000080;
}

#valores {
    text-align: center;
    padding: 120px 0;
    margin-top: -50px;
    background-color: var(--color6)
}

#valores-int {
    margin: 0px 40px;
    display: grid;
    grid-template: repeat(2, 1fr)/ repeat(3, 1fr);
    grid-auto-rows: auto;
    place-items: center;
    color: #fff;
    gap: 20px;
}

#valores h2 {
    z-index: 2;
    position: relative;
    margin: auto;
    background-color: var(--color1);
    color: #fff;
    width: 240px;
    border-radius: 10px;
    box-shadow: 0 5px 10px #00000040;
    transform: translateY(-145px);
}

.valoresCard {
    width: 85%;
    border-radius: 15px;
    background-color: #1f0883;
    box-shadow: 5px 5px 10px #00000080;
    transition-duration: .4s;
}

.valoresCard img {
    background-color: var(--color1);
    padding: 20px;
    margin: 20px 20px -10px 20px;
    border-radius: 20px;
}

.valoresCard:hover {
    transform: scale(1.1);
}

#whyUs {
    text-align: right;
    margin-top: -30px;
    padding: 120px 0;
    background-color: var(--color5);
}

.whyText h2 {
    margin: 0 80px 90px 80px;
}

.whyItens {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
}

.whyItens img {
    margin: 0 80px;
    border-radius: 20px;
}

.box-why {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.item {
    max-width: 100%;    
    margin: 0 80px;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    background-color: var(--color1);
}

#servicos {
    color: #000;
    margin-top: -18px;
    padding: 120px 0;
    background-color: var(--color6);
}

#servicos h2 {
    margin-left: 90px;
}

#servicosBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'item1 item1 item1'
    'item2 item3 item4'
    'item5 item5 item5'
    ;
    color: #fff;
    border-radius: 20px;
    margin: 10px 80px;
}

.srvCard1 {
    grid-area: item1;
}

.srvCard2 {
    grid-area: item2;
}

.srvCard3 {
    grid-area: item3;
}

.srvCard4 {
    grid-area: item4;
}

.srvCard5 {
    grid-area: item5;
}

.servicosCard {
    background-color: var(--color1);
    margin: 10px;
    border-radius: 20px;
}

#form-contact {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 120px 0;
    color: #fff;
    margin-top: -18px;
    background-image: url('images/Square-bg.jpg');
}

#form-contact h2 {
    color: #fff;
}

#form-contact a {
    text-align: center;
    display: block;
    margin: 10px;
    width: 300px;
    color: var(--color6);
    background-color: var(--color2);
    box-shadow: 0 0 20px var(--color2);
    padding: 17px 60px;
    border-radius: 100px;
}

footer {
    padding: 120px 0 20px 0;
    margin: -30px 0;
    background-color: var(--color3);
    color: #fff;
}

footer h3 {
    margin-left: 80px;
}

.toGroups {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

footer ul {
    display: block;
}

.menu li {
    list-style-type: none;
    margin: 20px 80px;
    color: #fff;
}

footer a {
    color: #fff;
}

.menu {
    grid-area: menu;
}

.contactExtra {
    text-align: right;
    margin-right: 50px;
    grid-area: contact;
}

.contactExtra ul {
    margin: 0 30px 0 68px;
}

.contactExtra li {
    margin-bottom: 10px;
}

.footerInf {
    font-weight: bold;
}

.copyright {
    grid-area: copy;
    text-align: center;
}


@media screen and (min-width: 1648px) {
    .mobile-nav {
        display: none;
    }

    .menuIco, label[for="menuIco"] {
        display: none;
    }

    .heroItens picture {
        position: absolute;
        bottom: 100%;
        left: 53%;
    }
}

@media screen and (min-width: 1482px) {
    .mobile-nav {
        display: none;
    }

    .menuIco, label[for="menuIco"] {
        display: none;
    }

    .heroItens img {
        top: 30px;
        left: 36%;
    }

    .heroItens nav a {
        top: 480px;
        left: 65%;

    }
}

@media screen and (min-width: 1297px) {
    .mobile-nav {
        display: none;
    }

    .menuIco {
        display: none;
    }

    .heroItens nav a {
        top: 475px;
        left: 60%;
    }

}

@media screen and (max-width: 1296px) {
    .mobile-nav {
        display: none;
    }

    .menuIco {
        display: none;
    }


     label[for="menuIco"] {
        display: none;
    }

    .blockHero {
        border-radius: 30px;
    }

    .miniBlock {
        display: none;
    }

    .heroItens img {
        left: 18%;
    }

    .heroItens nav a {
        top: 67%;
        left: 65%;
    }

    .block {
        display: none;
    }
}

@media screen and (max-width: 1204px) {
    .mobile-nav {
        display: none;
    }

    .menuIco, label[for="menuIco"] {
        display: none;
    }

    .sobreItens img {
        display: none;
    }

    .whyItens img {
        display: none;
    }

    .heroItens nav a {
        top: 68%;
        left: 55%;
    }
}

@media screen and (max-width: 1057px) {
    .mobile-nav {
        display: none;
    }

    .menuIco, label[for="menuIco"] {
        display: none;
    }

    #servicosBox {
        display: flex;
        flex-flow: column nowrap;
    }

    .heroItens nav a {
        top: 68%;
        left: 55%;
    }
}

@media screen and (max-width: 1028px) {
    .mobile-nav {
        display: none;
    }

    .menuIco, label[for="menuIco"] {
        display: none;
    }

    .heroText h1 {
        margin: 0 50px 50px 80px;
    }

    .heroText ul {
        margin-bottom: 60px;
    }

    .heroItens nav a {
        text-align: center;
        width: 35%;
        margin: 75px;
        position: initial;
        top: 0;
        left: 0;
    }

    .heroItens img {
        display: none;
    }

    .blockHero {
        display: none;
    }
}

@media screen and (max-width: 821px) {
    .menuIco, label[for="menuIco"] {
        display: block;
    }

    .mobile-nav {
        display: block;
    }

    .menuIco:checked ~ .mobile-nav {
        left: 40%;
    }

    .pc-nav {
        display: none;
    }

    .visaoImg img {
        display: none;
    }

    #valores-int {
        display: flex;
        flex-flow: column nowrap;
    }

    .valoresCard {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .valoresCard img {
        border-radius: 12px;
        margin: 20px;
    }
}

@media screen and (max-width: 542px) {
    .heroText h1 {
        font-size: 2.5em;
        margin: 0 0 60px 30px;
    }

    .heroText li {
        margin: 0 0 5px 40px;
    }

    .heroItens nav a {
        margin: -30px -30px -30px 30px;
        width: 400px;
    }

    #sobre h2 {
        margin: 30px 30px;
    }

    #sobre p {
        margin: 30px 30px;
    }

    #visao .visaoText {
        margin: 0 80px 0 3px;
    }

    #valores-int {
        margin: 0px 10px;
    }

    .whyText h2 {
        margin: 0 30px 90px 60px;
    }

    .item {
        margin: 0 30px;
    }

    #servicos h2 {
        margin-left: 45px;
    }

    #servicosBox {
        margin: 10px 30px;
    }

    .mobile-nav {
        display: block;
    }

    .menuIco, label[for="menuIco"] {
        display: block;
    }

    .menuIco:checked ~ .mobile-nav {
        left: 0%;
    }

    .pc-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .toGroups {
        display: flex;
        flex-flow: column nowrap;
    }

    .contactExtra {
        text-align: left;
    }

    footer h3 {
        margin-left: 30px;
    }

    .contactExtra ul {
        margin: 0 30px 0 20px;
    }
    .menu li {
        margin: 20px 30px;
    }

}
    

